body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user, .logo {
    flex: 1;
    text-align: center;
}


.box {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    width: 266px; /* Ajuste a largura conforme necessário */
}

.box2 {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    width: 80%; /* Adjust width to occupy most of the page */
    margin: 20px auto;
    max-width: 800px; /* Set a maximum width */

    

}

.box-title{   
display: flex; /* Ativa o Flexbox para o contêiner */
align-items: center; /* Alinha os itens verticalmente ao centro */
justify-content: space-between; /* Distribui os itens horizontalmente com espaço entre eles */
}



.box-title h1 {
    margin-right: 10px; /* Adiciona um espaço entre o título e o botão */
  }

button {
    background-color: #4CAF50;
    color: #1f1f1f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.sair {
    background-color: red;
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
    width: 80px;
}



.container {
    flex: 1; /* Occupy most of the page */
    display: flex;
    justify-content: center;
    align-items: center;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #444;
}

/* Add some visual enhancements */
.box h1 {
    margin-bottom: 15px;
    text-align: center;
}

/* Optional: Add hover effect for table rows */
tbody tr:hover {
    background-color: #444;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #333;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Set a maximum width */
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #1f1f1f;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidebar a.active {
    background-color: #575757;
}
.sidebar a:hover:not(.active) {
    background-color: #575757;
}
.content {
    margin-left: 210px;
    padding: 20px;
}

.box-title {
    display: flex;
    align-items: center;
  }
  
  .box-title h1 {
    margin-right: 20px; /* Espaço entre o título e o select */
  }
  
  .box-title label {
    margin-right: 5px; /* Espaço entre o label e o select */
  }
  
  .box-title select {
    padding: 5px; /* Espaçamento interno do select */
    border: 1px solid #ccc; /* Borda do select */
    border-radius: 5px; /* Borda arredondada */
    appearance: none; /* Remove a aparência padrão do select (importante para estilizar) */
    -webkit-appearance: none; /* Para navegadores WebKit (Safari, Chrome) */
    -moz-appearance: none; /* Para Firefox */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") no-repeat right 5px center; /* Adiciona seta para o select */
    background-size: 16px 16px; /* Tamanho da seta */
    padding-right: 25px; /* Espaço para a seta */
    cursor: pointer; /* Cursor de mão ao passar sobre o select */
    color: #5d5656; /* Cor do texto */
  }
  
  /* Estilos para o foco do select (opcional) */
  .box-title select:focus {
    outline: none; /* Remove a borda padrão de foco */
    border-color: #007bff; /* Altera a cor da borda ao receber foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2); /* Adiciona sombra ao redor */
  }

  input[type="date"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}